body {
  background-color: #632020 !important;
  background-image: url("../../images/background.jpg") !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  }
h1 {text-align: center;
} 
.content {
  color: #FFF;
  padding: 0 3% 3% 3%;
  }
.film-heading {
  color: #FFF;
  font-size: 2.5em;
  font-family: 'Cinzel', serif;
  margin-bottom: 0%;
  padding-top: 10%;
}
.cine-heading{
    color: #FFF;
    font-size: 5em;
    font-family: 'Cinzel', serif;
    margin-bottom: 0%;
    padding-top: 5%;
}
.genre-heading {
  color: #FFF;
  font-size: 1em;
  font-family: 'Cinzel', serif;
}
.cogs {
  color:#DCAE1D;
}
.sign-up-heading {
  color: #FFF;
  font-size: 2.5em;
  font-family: 'Cinzel', serif;
  margin-bottom: 0%;
  padding-top: 23%;
}
.saved-heading {
  color: #FFF;
  font-size: 2.5em;
  font-family: 'Cinzel', serif;
  margin-bottom: 0%;
}
#movie-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:20%;
  width:20%;
}
#settings-btn {
  display: inline;
}
#thumbs-down {
  color: red;
  text-align: right;
}
#thumbs-up {
  color: green;
  text-align: left;
}
/* #sign-up-column{
  padding-top:5%
} */
#signup{
  margin-left: 2%;
}
#setting{
  text-align:right;
}
#video{
  text-align: left;
}
#delete-button {
  /* background-color: #DCAE1D; */
  color: #841f25;
  float: right;
  /* border: 1px solid red; */
  height: 1%;
  width: 1%;
  /* border-radius: 20%; */
}
#nav-bar{
  font-family: 'Cinzel', serif;
}

@media only screen and (max-width: 980px) {
  #movie-card{
    width: 50%;
    height: 50%;
}
}
@media only screen and (max-width: 768px) {
  #movie-card{
    width: 50%;
    height: 50%;
}
.cine-heading{
  font-size: 2.5em;
}
/* p{
  display: none;
} */

}
@media only screen and (max-width: 640px) {
  #movie-card{
    width: 70%;
    height: 70%;
}
  #saved-cards{
    display: none;
  }
  #saved-cards{
    font-size: .75em;
    
    padding: 5% 3%;
  }
  .extra{
    padding: 0 0;
  }
}
@media only screen and (max-width: 540px) {
  #saved-cards{
    padding-bottom: 0;
  }
  
  #saved-extras{
    /* padding: 0px auto 0px 0px ; */
   padding-top: 0;
   padding-bottom: 0;
   padding-left: 0;
   font-size: .75em;
 }
}