body {
  background-color: #632020 !important;
  background-image: url("../../images/background.jpg") !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  }
h1 {
  text-align: center;
  /* font-family: '007 GoldenEye'; */
}
.content {
  /* background-color: #632020; */
    /* background-color: #FFF; */
    color: white;
    padding: 20px;
  }
.film-heading {
  color: white;
  font-size: 4em;
  font-family: constantine;
  /* font-family: homoarakhn; */
}
#movie-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:25%;
    width:25%;
  }
#settings-btn {
    display: inline;
    /* background-color: purple; */
}
#thumbs-down {
  color: red;
}
#thumbs-up {
  color: green;
}
#cog {
  color:#DCAE1D;
  float: right;
}
